<header>  
  <div class="header text-center header_bg" (click)="goHome()">
    <div class="text-center logo">      
        <img src="https://www.KrishnaJewellers.com/images/krishnajewellers-mobile-logo.svg" alt="" class="diplay_logo">
        <h1 class="logo_title">Diamond Dreams</h1>
    </div>        
  </div>
  <section class="breadCurmb breadCurmb-list">
    
      <nav aria-label="breadcrumb ">
          <ol class="breadcrumb ">
              <li>
                  <div>
                    <a href="" title="Home" class="breadcrumb-item" (click)="goHome()">Home </a>
                    <span class="bread_divider">  / </span>
                    <span title="Gold Jewellery" class="breadcrumb-item" active="">Gold Jewellery</span>
                  </div>
              </li>
          </ol>
      </nav>
   
  </section>
  
</header>
