<div class="container" *ngIf="currentProduct"> 
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="currentProduct.image" class="img-fluid rounded-start img_list" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h3 class="card-title">{{currentProduct.nom}}</h3>
                <p class="card-text">                           
                <p>{{currentProduct.discription}}</p>
                <p>Brand : {{currentProduct.marque}}</p>
                <p>Price :&nbsp;&nbsp;  <b class="{{currentProduct.offer | offerRate}}">{{currentProduct.prix | currency: 'EUR'}}</b><span *ngIf="currentProduct.offer != 0"><b style="color: #008200;">&nbsp;&nbsp;&nbsp;-{{currentProduct.offer}}%</b></span></p>
                <span *ngIf="currentProduct.reduction != 0"><b style="color: #191970;">{{currentProduct.reduction | currency: 'EUR'}}</b></span>
                <p class="card-text">Category : {{currentProduct.categorie}}</p>
                <p class="card-text"><small class="text-muted">Created on : {{currentProduct.dateCreation | date}}</small></p>
                </div>
                <a class="btn btn-outline-secondary buy_button" (click)="addToCart(currentProduct)">Buy now</a>  
            </div>
        </div>
    </div>
</div>  