<div class="container" *ngIf="currentProduct"> 
    <div class="card mb-3">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="currentProduct.image" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h3 class="card-title">{{currentProduct.nom}}</h3>
            <p class="card-text">                           
            <p>{{currentProduct.discription}}</p>
            <p>Marque : {{currentProduct.marque}}</p>
            <p><b>Prix : {{currentProduct.prix | currency: 'EUR'}}</b></p>
            <p class="card-text">Categorie : {{currentProduct.categorie}}</p>
            <p class="card-text"><small class="text-muted">Created on : {{currentProduct.dateCreation | date}}</small></p>
            </div>
            <p class="buttons"><a class="btn btn-outline-secondary" (click)="goHome()">Retour</a></p>   
        </div>
        </div>
    </div>
</div>  