<div class="container">
    <div class="card">
        <div class="card-header">
        Confirmation
        </div>
        <div class="card-body">
        <h3 class="title-center">Congratulations,</h3><span> {{name}}</span>
        <p class="card-text">Your order has been taken into account !</p>
        <p class="card-text">Your order number is {{code}}</p>
        <a routerLink="/" class="btn btn_display" style="background-color: #C04000; color: white;">Home Page</a>
        </div>
    </div>
</div>