

.jumbotron-image{
    
    background-image: url('https://img1.KrishnaJewellers.com/CategoryImages/8/LargeImages/uncut_diamond_jewellery2.jpg') !important;
    height: 500px; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}