<!-- Jumbotron Background image -->
<div class="p-5 text-center bg_image jumbotron text-white jumbotron-image shadow">   
    
</div>
<!-- Jumbotron Background image -->

<div class="container"> 
  <div class="text-center mt-5">
    <h3> Diamond Jewellery</h3> 
    <span class="col-md-4 col-md-offset-4 no-padd text-center">Polki piece art add a sense of elegance to your charming day. </span>
  </div>  
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
      <div class="col" *ngFor="let product of getOffers">
        <div class="card" appBorderCard = 'red'>
          <div class="discount" *ngIf="product.offer">{{product.offer}}</div>
          <img [src]="product.image" class="card-img-top img_list" alt="...">
          <div class="card-body text-center text">
            <h5 class="card-title">{{ product.nom}}</h5>
            <p class="card-text">{{ product.prix  | currency: 'EUR' }}</p>
            <p class="buttons"><a class="btn btn-outline-secondary" (click)="goToProduct(product)">View detail</a></p>
          </div>          
        </div>
      </div>
  </div>