.jumbotron-image{
    
    background-image: url('https://img1.krishnajewellers.com/CategoryImages/14/LargeImages/gold_jewellery_designs1.jpg');
    height: 500px; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}