<div class="container"> 
  <div class="text-center mt-5">
    <h3>Gold Jewellery</h3> 
    <span class="col-md-4 col-md-offset-4 no-padd text-center">Inspired by traditional gold jewellry must-have for weddings. </span>
  </div>  
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
      <div class="col" *ngFor="let product of products">
        <div class="card">
          <img [src]="product.image" class="card-img-top" alt="...">
          <div class="card-body text-center text">
            <h5 class="card-title">{{ product.nom}}</h5>
            <p class="card-text">{{ product.prix }}</p>
            <p class="buttons"><a class="btn btn-outline-secondary">View detail</a></p>
          </div>          
        </div>
      </div>
</div>