.offer_text{
    color: #0000CD !important;
    font-weight: 600;
}

.menu_text{
    color: #132257 !important;
    font-weight: 500;
}

.categ_text{
    color: #65000B !important;
    font-size: 1.2rem;
    font-weight: 500;
}